body {
    padding-top: 800px;
}

.topo {
    background-color: #41475e;
    height: 200px;
}

.link-topo {
    color: #F7D41A;
    text-transform: uppercase;
    padding-left: 18px;
    font-weight: bold;
}

.footer-bg {
    background: url(../images/rodape.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    padding: 0;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: -45px;
    z-index:3;
    position: relative;
}

.contato{
    background: #41475e;
}

.contato-img-sub {

}
.contato-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff3cd;
    float: left;
    text-align: center;

}
.contato-es img {
    max-width: 30px;
    margin-left: 7px;
    margin-right: 7px;
    max-height: 30px;
    margin-top: -5px;
    float: left;
}
.contato-es{
    color: #fff3cd;
}
.contato-di{
    color: #fff3cd;
    float: ;
}

.mapa-loc {

    position: relative;
    z-index: 2;
    margin-bottom: -25px;
}

.rodape-fonte-amarelo {
    color: #F7D41A;
    text-transform: uppercase;
}

.img-buttom img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
}

.text-newsletter-color {
    color: #F7D41A;
    float: left;
    font-size: 15px;
    margin-top: -10px;
    padding-bottom: 10px;
    font-weight: bold;
    padding-left: 12px;
}

.newsletter-campo {
    z-index: 999;
    margin-left: -50px;
    float: right;
    background-color: #F7D41A;
    border: none;
    color: #41475F;
    font-weight: bold;
    font-size: 12px
}


.rodape-informacoes-logo-newsletter-area {
    float: left;
    width: 100%;
}

.rodape-informacoes-logo-newsletter {
    font-size: 20px;
}

.rodape-informacoes-logo-img-buttom {
    text-transform: uppercase;
    margin-top: 28px;
    float: right;
    padding-left: 50px;
}

.rodape-informacoes-logo-img-buttom p {
    float: right;
    margin-right: 5px;
}

.rodape-informacoes-logo-img-buttom img {
    max-width: 30px;
    margin-left: 7px;
    margin-right: 7px;
    max-height: 30px;
    margin-top: -5px;
    float: right;
}

.rodape-copy {
    background-color: #41475e;
    padding-top: 50px;
    position:relative;
    z-index: 2;
}

.rodape-copy-texto {
    padding-bottom: 50px;
}